@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}

.message{
    position: fixed;
    z-index: 1000;
    left: 10px;
    bottom: 10px;
    min-width: 30vw;
}